<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bagevent">

    <permission
        android:name="com.bagevent.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 8.0 系统需要 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- SDK 权限申明, 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <permission
        android:name="com.bagevent.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <uses-permission android:name="com.bagevent.permission.RECEIVE_MSG" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 小米推送 -->
    <permission
        android:name="com.bagevent.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bagevent.permission.MIPUSH_RECEIVE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme_Light">
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PatchDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Patch.Dialog" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bagevent.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".new_home.GuestRankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.QuestionResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.ReportListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.ForgetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.ImageGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.JPushActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.SetSenderAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_manager.detail.ScannerExpress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_manager.detail.InvoiceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_manager.detail.ExpressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.DynamicDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity
            android:name=".activity_manager.detail.AllInvoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_manager.detail.CollectionAttendeeDetailInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.MoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_manager.detail.FindCheckInResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.WithdrawReord"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.SetWithDrawPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.PhoneLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.AddWithDrawAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.ChattingSysActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.ChattingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".new_home.new_activity.ChatListSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.WithDrawAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.WithDrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_manager.detail.AuditOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.CollectPersonnelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_manager.detail.ChangeTicket"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_manager.detail.ModifyVatmanInvoice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_manager.detail.ModifyCommonInvoice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_manager.detail.ModifyOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_manager.detail.ActivityOrderDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.RechargeRecord"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.RechargeResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.RechargeMessage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_manager.AcManager"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity_manager.detail.AttendPeopleDetailInfo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_manager.detail.ModifyUserInfo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_manager.detail.AddAttendPeople"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_manager.detail.AddAttendPeopleNext"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_manager.detail.AuditAttendeeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_manager.manager_fragment.BarCodeCheckIn"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_manager.detail.CollectionDetail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity_manager.detail.CollectionBarcode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_manager.detail.CollectionQRCode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".login.BarCodeLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_manager.detail.SingleSelectCheckin"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_manager.detail.CollectPeopleDetail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".register.UserArgument"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.HomePage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".new_home.new_activity.ReleaseRequire"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.new_activity.ReleaseEvent"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.new_activity.ReleaseEventTime"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.new_activity.ReleaseEventLocation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.new_activity.ReleaseEventDetail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.new_activity.ReleaseEventSponsor"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.new_activity.ReleaseEventAddSponsor"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.new_activity.ReleaseEventTicket"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.new_activity.ReleaseEventAddTicket"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.new_activity.ReleaseEventSystemPic"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.new_activity.ReleaseEventForm"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.new_activity.ReleaseEventMultiForm"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.new_activity.UserSetEventIncome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".new_home.new_activity.UserSetUserInfo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_manager.detail.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity_manager.detail.LoginQrCode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver android:name=".synchro_data.UpdateVersionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".jpush.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.bagevent" />
            </intent-filter>
        </receiver>
        <receiver android:name=".jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.bagevent" />
            </intent-filter>
        </receiver>

        <!-- 分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105626294" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- <activity -->
        <!-- android:name="com.alipay.sdk.app.H5PayActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|navigation|screenSize" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="behind" -->
        <!-- android:windowSoftInputMode="adjustResize|stateHidden" /> -->
        <!-- <activity -->
        <!-- android:name="com.alipay.sdk.app.H5AuthActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|navigation" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="behind" -->
        <!-- android:windowSoftInputMode="adjustResize|stateHidden" /> -->

        <service android:name=".synchro_data.StartSyncDataService" />
        <service android:name=".synchro_data.UpdateVersionService" />
        <!-- <service android:name=".synchro_data.UpdateVersionService"/> -->


        <!-- 小米推送配置的service和receiver -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":mixpush" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":mixpush" />
        <!-- 注：此service必须在3.0.1版本以后（包括3.0.1版本）加入 -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":mixpush">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.netease.nimlib.mixpush.mi.MiPushReceiver"
            android:exported="true">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <!-- 云信华为推送消息广播 -->
        <receiver android:name="com.netease.nimlib.mixpush.hw.HWPushReceiver">
            <intent-filter android:priority="0x7fffffff">

                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看push通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>

            <meta-data
                android:name="CS_cloud_ablitity"
                android:value="successRateAnalytics" />
        </receiver>

        <!-- 填入华为推送平台配置的应用appid -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="10624750" />
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />
        <meta-data
            android:name="com.taobao.android.hotfix.IDSECRET"
            android:value="24767782-1" />
        <meta-data
            android:name="com.taobao.android.hotfix.APPSECRET"
            android:value="f4968277862933848d39d62c95ebe022" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57b6cf9967e58ef2aa0017f8" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="BagEvent" />

        <activity
            android:name=".new_home.new_activity.ReleaseDynamicCondition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.SelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.CreateInform"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.SelectActivityOfInform"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyActivity"
            android:screenOrientation="portrait" />

        <!-- <activity android:name=".FluttreViewActivity" /> -->
        <activity
            android:name=".new_home.new_activity.ExhibitionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.NewExhibitionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.ReleaseExDynamicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.CreateShareImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.CollectionAttendeeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.AddTag"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.TagManager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.SearchAttendee"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.AttendeeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.SetTag"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.AddAttendeeForTag"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.AddTagsForAttendee"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_manager.detail.ExhibitorDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.AuditExhibitorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.CollectorManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_manager.manager_fragment.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".new_home.new_activity.NewChattingActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="c68a490996dedb8affc4d02339be76ac" />

        <!-- 云信后台服务，请使用独立进程。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />

        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />

        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" />

        <!-- 云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />

        <!-- 云信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService" />

        <!-- 云信进程间通信provider -->
        <!-- android:authorities="{包名}.ipc.provider", 请将com.netease.nim.demo替换为自己的包名 -->
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.bagevent.ipc.provider"
            android:exported="false"
            android:process=":core" />

        <!-- 华为推送 -->
        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="com.bagevent.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity
            android:name=".NotificationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".new_home.new_activity.BarcodeLoginPcActivity" />
        <activity android:name=".new_home.new_activity.SelectDeviceFunctionActivity"></activity>
    </application>

</manifest>